<!doctype html>
<html>
    <head>
        <title>REV NET</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
      <h1>REVNET <a href="/"> <img src='../styles/globeforlogo.jpg' class = 'globe'/></a></h1>
        <ul>
            <li><a href="/map">Map</a></li>
            <li><a href="/locations">Add Location</a></li>
            <li><a href = "{{logout_url}}">Sign Out</a></li>
        </ul>
        <img src='../styles/map.png' class = "map"/>
        <p>
          Connecting with the rest of the world has never been easier. <br />
          <br />
          Find out locations near you with the best wifi, and share with others!
        </p>
      
    </body>
</html>
