<!doctype html>
<html>
    <head>
        <title>REV NET</title>
        <link rel="stylesheet" href="/styles/main.css">
        <
    </head>
    <body>
      <img id='jon' src="../styles/RevNet.jpg" alt="RevNet">
        <ul>
            <li><a href="/map">Map</a></li>
            <li><a href="/locations">Add Location</a></li>
            <li><a href = "{{logout_url}}">Sign Out</a></li>
        </ul>

        <p>
          Hello, {{nickname}}, welcome to REVnet!
        </p>
    </body>
</html>
