<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/map.css">
        <title>REV NET Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
    </head>
    <body>
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map"></div>
        <script type="text/javascript" src="../scripts/search.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyGrl63eS4IjKBvTLF-gIh3NK2ik6xm_Y&libraries=places&callback=initMap"
        async defer></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <ul id="list">
        </ul>
    </body>
</html>
