<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/map.css">
        <title>REV NET Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
   </head>
    <body>
        <input id="pac-input" class="controls" type="text" placeholder="Enter a location here...">
        <div id="map"></div>
        <script type="text/javascript" src="../scripts/search.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyGrl63eS4IjKBvTLF-gIh3NK2ik6xm_Y&libraries=places&callback=initMap"
        async defer></script>  <!-- calling in the map api from google -->
        <div id="loc_list">
          <h1>Entries</h1>
            {% for location in locations %}
            <p id='box' class="location">
                <text id="place" class="host_name">{{location.host_name}}</text><br>
                <text id="address"class="address">Address: {{location.address}}</text><br>
                <text id="type" class="comment">Comment: {{location.comment}}</text><br>
            </p>
            {% endfor %}
        </div>
        <script src="/scripts/update_list.js"></script>
    </body>
</html>
