 <!doctype html>
<html>
  <head>
      <title>REV NET</title>
        <link rel="stylesheet" href="/styles/style.css">
  </head>
    <body>
      <!--<h1>Welcome to</h1>-->
      <!--<img id='jon' src="../styles/RevNet.jpg" alt="RevNet">-->
      <img src='../styles/betterearth.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;opacity:.8' />
      <h2>REVNET</h2>
      <h3>your connection to the rest of the world is just a click away</h3>
      <div>
        <button id='loginbutton'><a href="{{login_url}}">Login</a></button>
      </div>
    </body>
</html>
