ul{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: 1000px;
  margin-top: 190px;
  margin-left: 350px;
}

li {
    float: left;
}

li a{
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    font-family: "Courier New", Courier, monospace;
}

li a:hover{
    background-color: cornflowerblue;
    color: white
}

#jon {
  text-align: center;
  height: 200px;
  width: 500px;
  padding-top: 15px;
  left: 31%;
  top: -5%;
  position: fixed;
}

p{
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 25px;
  margin-top: 70px;
}
