#map {
    height: 100%;
    width: 80%;
}
/* Optional: Makes the sample page fill the window. */
#loc_list {
    flex: 1;
    height: 100%;
    padding: 10px;
    float: left;
}
html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#pac-input {
  height: 4%;
  width: 15%;
  margin-top: 50px;
  margin-left: -105px;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

p {
  border-style: solid;
  border-color: lightsteelblue;
  background: lightsteelblue;
  width: 80%;
  height: auto;
  padding-top: 9%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 9%;
}

#place {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: right;
  font-size: 200%;
}

#address {
  font-family: "Courier New", Courier, monospace;
}

#type {
  font-family: "Courier New", Courier, monospace;
}
#box {
    background-color: lightsteelblue;
    color: black;
    border: 2px solid lightsteelblue;
}

#box:hover {
    background-color: white;
    color: black;
}
