#map {
    height: 100%;
    width: 70%;
    margin-left: auto;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}

#pac-input {
  height: 4%;
  width: 15%;
  margin-top: 50px;
  margin-left: -105px;
}

