body {
    font-style: italic;
    font-size: 50px;
    text-align: center;
    position: fixed;
    top: 8%;
    left: 28%;
}
#loginbutton {
    background-color: cornflowerblue; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    /* padding: 5px 5px; */
}

#loginbutton {
    background-color: cornflowerblue;
    color: white;
    border: 2px solid cornflowerblue;
}

#loginbutton:hover {
    background-color: white;
    color: grey;
}

#jon {
  text-align: center;
  height: 200px;
  width: 500px;
  padding-bottom: 15px;
}

h1{
  color: grey;
  text-shadow: 2px 2px lightgrey;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  padding-bottom: 35px;
}

h3{
  color: grey;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  padding-bottom: 45px;
}
