body {
    font-style: italic;
    font-size: 50px;
    text-align: center;
    position: fixed;
    top: 8%;
    left: 28%;
}
#loginbutton {
    background-color: white; opacity:0.5;;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: -150px;
}
#jon {
  text-align: center;
  height: 200px;
  width: 500px;
  padding-bottom: 15px;
}

/*h1{
  color: grey;
  text-shadow: 2px 2px lightgrey;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  padding-bottom: 35px;
}*/

h2{
  font-family: "ubuntu";
  margin-left: -150px;
  margin-top: 180px;
  color: black;

}

h3{
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  padding-bottom: 45px;
  margin-left: -160px;
}
